<div class="searchview">
  <div class="container">
    <form action="/playlist-details/{{{playlistId}}}/add-song" method="get">
      Song name
      <input class="form-control" type="text" name="search" value="{{search}}"><br>
      <button class="btn btn-outline-primary">Search</button>
    </form>
  </div>

<div class="container">

<div class="row">

  {{#each songs}}
  <div class="card m-3" style="width: 20rem;">
    <div class="card-body">
      Name: <h5 class="card-title">{{{this.name}}}</h5>
      Artist: <h5 class="card-title">{{{this.artists.[0].name}}}</h5>
      Album: <h5 class="card-title">{{{this.album.name}}}</h5>
     
      <a href="/playlist-details/{{{../playlistId}}}/add-song/{{{this.id}}}" class="btn btn-sm btn-outline-primary">Add song</a>
    </div>
  </div>
  {{/each}}

</div>


</div>

</div>