Followers:
Duration:
Link:

<a href="/playlist-details/{{{playlistID}}}/add-song" class="btn btn-outline-primary">+ ADD</a>
{{!-- <a href="/playlist-details/{{{playlistID}}}/push" class="btn btn-outline-primary">PUSH TO SPOTIFY</a> --}}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Number of votes</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    {{#each track}}
    <tr>
      <th scope="row">{{{this.name}}}</th>
      <td>{{{this.artist}}}</td>
      <td>{{{this._userWhoVoted.length}}}</td>
      {{#if ../user}}
      <td><a href="/vote/{{this.spotifyTrackId}}/{{../playlistID}}" class="btn btn-outline-primary">Vote</a></td>
      {{!-- <a><a href="#" class="btn btn-outline-primary">Delete</a></a> --}}
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>