Followers:
Duration:
Link:

<a href="/playlist-details/{{{playlistID}}}/add-song" class="btn btn-outline-primary">+ ADD</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Number of votes</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  {{#each track}}
    <tr>
      <th scope="row">{{{this.name}}}</th>
      <td>{{{this.artist}}}</td>
      <td>{{{this.numberOfvotes}}}</td>
      <td><a href="/vote/{{this._id}}/{{../playlistID}}" class="btn btn-outline-primary">Vote</a></td>
      <td><a href="#" class="btn btn-outline-primary">Delete</a></td>
    </tr>
  {{/each}}
  </tbody>
</table>
